page-home {
    .scroll-content {
        background: url(../assets/img/shivaHome.jpg) center center fixed;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size:contain;;
      }
      .main-content {
        height: 100%;
      }
}
